@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../Content/isalon_images/salon1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ISalon, Manage your business' bookings and staff needs.</h1>
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../Content/isalon_images/salon2.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Make an appointment for your favourite service.</h1>
                    <p>ISalon allows you to make appointments with your favourite artist at a time that is convenient for you!</p>
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src="../Content/isalon_images/salon5.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>For salon owners</h1>
                    <p>manage your staff needs based on your bookings and make the most of your resouces</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="row">
    <div class="col-md-4">
        <h2>Bookings</h2>
        <p>
            Manage your bookings, make reservations and allow your customers to make reservations online, selecting their prefered time and artist at a time that is convenient for them!
        </p>
        <p>@Html.ActionLink("Make a Booking", "Index", "Booking") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Staff</h2>
        <p>Manage your staff needs and requirements based on your customer's demands. Allow your customers to book services based on the days their preferred staff member is available.</p>
        <p>@Html.ActionLink("Staff", "Index", "Staff") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Treatments</h2>
        <p>Easily manage your treatments, pricing, components and more with a user friendly interface.</p>
        <p></p>
        <p></p>
        <p></p>
        <p>@Html.ActionLink("Treatment", "Index", "Treatment") &raquo;</p>
    </div>
</div>